body {
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #2C2C2C; /* Dark Gray background */
  color: #FFFFFF;           /* White text for contrast */
}

h1, h4 {
  font-family: 'Georgia', 'Times New Roman', serif; /* Serif for headings */
}
